# API Configuration
EXPO_PUBLIC_API_BASE_URL=http://localhost:3333

# Stripe
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...

# App Configuration
EXPO_PUBLIC_APP_NAME=Pasta la vista
EXPO_PUBLIC_VERSION=0.1.0

# Environment
EXPO_PUBLIC_ENV=development
